/* css reset */
*{
    padding: 0;
    margin: 0;
}

/* css variable's */
:root{
    --nav-bar:59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation Bar Logo And Image */
#logo{
    margin: 6px 5px;
}

#logo img{
    height: 47px;
    margin: -3px 5px;
    border-radius: 50%;
    cursor: pointer;
}
/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Rye', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: block;
    padding:3px 14px ;
    border-radius: 20px;
}
/* some experiment of gradient colors */
#navbar ul li a:hover{
    color: black;
    /* background-color: whitesmoke; */
    background-image: linear-gradient(tomato,cyan);
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    height: 538px;  /*646*/
    padding: 3px 100px;
    justify-content: center;
    align-items: center;
}

#home::before{
    background: url('images/b10.jpg')no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 92%;
    width: 100%;
    z-index: -1;
    opacity: 8.78;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Rye', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Rye', cursive;
}

/* Services Section */
#services{
    display:flex;
    margin:14px 10px;
}
.box{
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-image: linear-gradient(tomato,cyan);
    opacity: 0.89;
}
.box img{
    /* height: 150px; */
    width: 155px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.box p{
    font-family: 'Caprasimo', cursive;
}

/* Client Section */
#client-section{
    position: relative;
    /* height: 344px; */
}

#client-section::before{
    background: url('images/c1.jpg')no-repeat center center/cover;
    content: "";
    position:  absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items{
    padding: 34px;
}

#clients img{
    height: 52px;
    cursor: pointer;
}

/* Contact Section */
#contact{
    position: relative;
    margin-top: 4px;
}

#contact::before{
    background: url('images/c2.jpg')no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box input:hover{
    background-image: linear-gradient(to bottom right,cyan,tomato,pink);
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.2rem;
    font-family: 'Martian Mono', monospace;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility classes */
.h-primary{
    font-size: 2.3rem;
    padding: 12px;
    text-align: center;
    font-family: 'Martian Mono', monospace;
}

.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Martian Mono', monospace;
    /* text-align: center; */
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-image:linear-gradient(to bottom right,pink,tomato,cyan);
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 20px;
    cursor: pointer;
}

.center{
    text-align: center;
}
